<h1>Add Client</h1>

<form>
  <div class="column-left">
    <%= form_for @client do |f| %>
      <div class="form-field">
        <%= f.label :first_name %>
        <%= f.text_field(:first_name, required: true) %>
      </div>
      <div class="form-field">
        <%= f.label(:title, "Job title") %>
        <%= f.text_field :title %>
      </div>
      <div class="form-field">
        <%= f.label(:address, "Street") %>
        <%= f.text_field :address %>
      </div>
      <div class="form-field">
        <%= f.label :state %>
        <%= f.text_field :state %>
      </div>
      <div class="form-field">
        <%= f.label(:phone_office, "Office phone") %>
        <%= f.telephone_field :phone_office %>
      </div>
      <div class="form-field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="column-right">
      <div class="form-field">
        <%= f.label :last_name %>
        <%= f.text_field(:last_name, required: true) %>
      </div>
      <div class="form-field">
        <%= f.label :company %>
        <%= f.text_field :company %>
      </div>
      <div class="form-field">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
      <div class="form-field">
        <%= f.label :zip %>
        <%= f.text_field :zip %>
      </div>
      <div class="form-field">
        <%= f.label(:phone_mobile, "Mobile phone") %>
        <%= f.telephone_field :phone_mobile %>
      </div>
      <%= f.submit "Add Client", class: "submit-button" %>
    </div>
  <% end %>
</form>
